
@import "../../../sass/mixins.scss";
@import "../../../sass/variables.scss";
@import "../../../sass/media.scss";
@import '../../../sass/fonts.scss';

 .ArticleNewsContainer{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
  }
  .articlesNewsTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
   
    box-shadow: 0px 3px 3px rgba(87, 87, 87, 0.16);
    border-radius: 14px;
    background: #ffff;
    width: 10%;
    height: 6%;
    min-width: 86px;
    min-height: 50px;
    .articlesNewsTitleText{
      @include typography($primary-font-family, 24px, #434343);
      @include max-width(large) {
        font-size: 20px;
      }
      @include max-width(medium) {
        font-size: 18px;
      }
      @include max-width(small) {
        font-size: 16px;
      }
    }
  }
 
  .articlesNewsSection {
    align-self: flex-start;
    width: 100%;
    & > div:nth-child(1),
    & > div:nth-child(2) {
        border-bottom: 1px solid $primary-txt-color;
      }

  }

  .articlesNewsBtnContainer {
    display: flex;
    justify-content: end;
  }
  
  .articlesNewsBtn {
    border: 2px solid #67008f;
    border-radius: 15px;
    padding: 9px 23px;
    cursor: pointer;
    background-color: #ffff;
    transition: all 0.3s;
    @include typography($primary-font-family, 15px, $text-accent-color);
    @include max-width(small) {
      padding: 7px 18px;
      font-size: 13px;
    }
  
    &:hover {
      background-color: $secondary-bg-color;
    }
  }
  

