@import "../../../../sass/mixins.scss";
@import "../../../../sass/variables.scss";
@import "../../../../sass/media.scss";
@import '../../../../sass/fonts.scss';


.CourseArticleCard {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
  }
  
  .CourseArticleImage {
    margin: 10px;
    width: 100px;
    border-radius: 15px;
    overflow: hidden;
    transform: scale(1.05);
    transition: all 0.5s;
  }
  
  .CourseArticleImage img {
    width: 100%;
  }
  .CourseArticleNews {
    padding: 0 1rem 0 2rem;
    @include typography($primary-font-family, 1.6rem, $primary-txt-color);
    @include max-width(large) {
      font-size: 1.4rem;
      gap: 20px;
    }
    @include max-width(medium) {
      font-size: 1.2rem;
      gap: 20px;
    }
    @include max-width(small) {
      font-size: 1rem;
      gap: 20px;
    }
   
  }
  